* {
  background: linear-gradient(to left, rgb(255, 255, 224) 0% ,rgb(177, 177, 155));
  color: rgb(23, 34, 28);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  font-family: 'Archivo Black', sans-serif;
}

h1 {
  background: transparent;
}

button {
  padding: 12px 24px;
  background: rgb(173, 166, 166);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 20px;
  outline: none;
}

img {
  height: 400px;
  width: 400px;
  box-shadow: 1px 2px 2px 1px rgb(38, 51, 41);
}